<div class="container">
    <div class="left">
        <a routerLink="/home" routerLinkActive="active">Home</a>
        <a [routerLink]="['/deceased']" routerLinkActive="active">Deceased</a>
        <a routerLink="/cremation-entry" routerLinkActive="active">Cremation Entry</a>
        <a routerLink="/necrotomist" routerLinkActive="active">Necrotomist</a>
    </div>
    <div class="right" *ngIf="!userSig()">
        <a routerLink="/login" routerLinkActive="active">Login</a>
        <a routerLink="/register" class="cta">Register</a>
    </div>
    <div class="right" *ngIf="userSig()">
        <div>
            <div class="logout" *ngIf="showLogoutMenu">
                <button (click)="logout()">Logout</button>
            </div>
        </div>
    </div>
</div>