@use '../../../styles.scss' as *;

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $seashell;
  padding: 1rem 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  height: 2rem;
}

.left, .right {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease;
}

a:hover:not(.cta), a.active {
  color: $orange-wheel;
  border-bottom: 2px solid $orange-wheel-dark;
}

.cta {
  background-color: $orange-wheel;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.cta:hover {
  background-color: $orange-wheel-dark;
}

.sign-out button {
  background-color: transparent;
  border: 1px solid #ccc;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sign-out button:hover {
  background-color: #f8f8f8;
}
