$linen: #F9F1E9ff;
$seashell: #F9F2ECff;
$orange-wheel: #FB7D0Bff;
$color-1: rgb(255, 237, 221);
$orange-wheel-dark: rgb(190, 89, 0);
$dark-slate-gray: #2A5759ff;
$brunswick-green: #2B473Cff;
$color-2: #FB7D0Bff;
$color-3: #17a2b8;
$color-4: rgb(192, 97, 14);
$header-height: 120px;

html {
  overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

body {
    margin: 0;
    height: 100vh;
    display: block;
    background-color: $color-1;
    padding: 0;
    // background-size: cover;
    // background-position: center;
    // background-repeat: no-repeat;
    // background-attachment: fixed;
    // background-image: url('assets/forest_red.jpg');
}

// /* Example: Global scrollbar style */
// ::-webkit-scrollbar {
//   width: 12px;
// }

// ::-webkit-scrollbar-track {
//   background: $brunswick-green2;  /* Track background */
// }

// ::-webkit-scrollbar-thumb {
//   background-color: $orange-wheel;   /* Scroll handle */
//   border-radius: 6px;
//   border: 3px solid $brunswick-green2; /* Adds padding around thumb */
// }

// ::-webkit-scrollbar-thumb:hover {
//   background-color: #555;
// }
