<div class="outer-container">
  <div class="container" [ngClass]="formType.toLowerCase()">
    <div class="wrapper">
      <h1 class="title">Register</h1>
      <select (change)="onFormTypeChange($event)" class="select">
        <ng-content *ngFor="let role of allAppRoles">
          <option [value]="role">
            {{ role }}
          </option>
        </ng-content>
      </select>
    </div>
  
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label class="form-label">Full Name</label>
        <input type="text" class="form-input" formControlName="fullname" />
        @if (registerForm.get('fullname')?.touched || registerForm.get('fullname')?.dirty) {
          @if (registerForm.get('fullname')?.errors?.['required'] || registerForm.get('fullname')?.errors?.['minlength']) {
            <div class="error-message">Full Name must have at least 3 characters.</div>
          }
          @else if (registerForm.get('fullname')?.errors?.['maxlength']) {
            <div class="error-message">Full Name must be less than 64 characters.</div>
          }
        }
      </div>
  
      <div class="form-group">
        <label class="form-label">E-mail</label>
        <input type="text" class="form-input" formControlName="email" />
        @if (registerForm.get('email')?.touched || registerForm.get('email')?.dirty) {
          @if (registerForm.get('email')?.errors?.['maxlength']) {
            <div class="error-message">E-mail must be less than 64 characters.</div>
          }
          @else if (registerForm.get('email')?.errors?.['email']) {
            <div class="error-message">Enter a valid e-mail address.</div>
          }
        }
      </div>
  
      @if (formType === 'NECROTOMIST') {
        <div class="form-group">
          <label class="form-label">Specialization</label>
          <input type="text" class="form-input" formControlName="specialization" />
          @if (registerForm.get('specialization')?.touched || registerForm.get('specialization')?.dirty) {
            @if (registerForm.get('specialization')?.errors?.['required'] || registerForm.get('specialization')?.errors?.['minlength']) {
              <div class="error-message">Specialization must have at least 3 characters.</div>
            }
            @else if (registerForm.get('specialization')?.errors?.['maxlength']) {
              <div class="error-message">Specialization must be less than 64 characters.</div>
            }
          }
        </div>
      }
  
      <div class="form-group">
        <label class="form-label">Password</label>
        <input type="password" class="form-input" formControlName="password" />
        @if (registerForm.get('password')?.touched || registerForm.get('password')?.dirty) {
          @if (registerForm.get('password')?.errors?.['required'] || registerForm.get('password')?.errors?.['minlength']) {
            <div class="error-message">Password must be at least 6 characters.</div>
          }
          @else if (registerForm.get('password')?.errors?.['maxlength']) {
            <div class="error-message">Password must be at most 12 characters.</div>
          }
          @else if (registerForm.get('password')?.errors?.['pattern']) {
            <div class="error-message">
              Must include one number, one uppercase letter, and one special character.
            </div>
          }
        }
      </div>
  
      <div class="form-group">
        <label class="form-label">Repeat Password</label>
        <input type="password" class="form-input" formControlName="repeatPassword" />
        @if (registerForm.get('repeatPassword')?.touched || registerForm.get('repeatPassword')?.dirty) {
          @if (registerForm.get('repeatPassword')?.errors?.['required'] || registerForm.get('repeatPassword')?.errors?.['minlength']) {
            <div class="error-message">Repeat Password must be at least 6 characters.</div>
          }
          @else if (registerForm.get('repeatPassword')?.errors?.['maxlength']) {
            <div class="error-message">Repeat Password must be at most 12 characters.</div>
          }
          @else if (registerForm.get('repeatPassword')?.errors?.['mismatch']) {
            <div class="error-message">Repeat Password must match the password.</div>
          }
          @else if (registerForm.errors?.['mismatch'])
          {
          <div class="error-message">This field must match the password field.</div>
          }
        }
      </div>
  
      <div class="buttons">
        <button type="button" class="form-button" (click)="navigateToLogin()">Cancel</button>
        <button type="submit" class="form-button" [disabled]="registerForm.invalid">Register</button>
      </div>
  
      @if (errorMessage) {
        <div class="error">{{ errorMessage }}</div>
      }
    </form>
  </div>
</div>
