@use '../../../styles.scss' as *;

* {
  box-sizing: border-box;
}

.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // min-height: calc(100vh - $header-height);
  min-height: 100%;
  // background-color: #f8f9fa;
  text-align: center;
  padding: 1rem;
}

.not-found-title {
  font-size: 3rem;
  color: #343a40;
  margin-bottom: 1rem;
}

.not-found-message {
  font-size: 1.25rem;
  color: #6c757d;
  margin-bottom: 1.5rem;
}

.not-found-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #fff;
  background-color: $color-2;
  border: none;
  border-radius: 0.25rem;
  text-decoration: none;
}